

#map{width:100%;height:100%}
   
   
#logoContainer {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 40px;
  border: solid 1px #aaa;
  width: 158px;
  height: 64px;
  padding: 4px;
  background-color: white;
}

#description {
  position: absolute;
  z-index: 501;
  bottom: 12;
  left: 110px;
  border: solid 1px #aaa;

  height: 24px;
  padding: 4px;
  background-color: white;
  font-size: 0.8em;
}

   
